#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;
}
  #mainNav .navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2.5px 1px 2px rgba(255,50,50,1);
  }
  #mainNav a {
    color: white;
  }
  #mainNav .nav-head{
    display: flex;
    padding: 2px;
    margin: 5px;
    margin-left: 50px;
    padding-left: 25px;
  }
  #mainNav .nav-body{
    display: flex;
    padding: 2px;
    margin: 5px;
  }
  #mainNav .nav-body-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  #mainNav .nav-item{
    color: rgba(255,255,255,1);
    font-weight: 300;
    font-size: 18px;
    padding: 5px;
    justify-content: center;
  }
  #mainNav .nav-item:hover {
    color: rgba(210,210,210,1);
    text-decoration: none;
    }
    #mainNav .nav-item:active {
      color: rgba(210,210,210,1);
      text-decoration: none;
      }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      letter-spacing: 1px;
      border-bottom: none;
      background: transparent;
    }
      #mainNav.navbar-change {
        width: 100%;
        margin: 0px;
        padding-top: 22px;
        padding-bottom: 22px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: black; }
    }

#mainNav .btn-login{
  margin-left: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
  font-weight: bold;
  color: white;
  border: 0px;
  padding: 2px 15px 4px 15px;
}
#mainNav .btn-login:hover{
  background-color: rgba(255, 0, 0, 0.73);
  transform: scale(1.03);
}
