#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50;
  width: 100%;
  height: 12%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  margin: 0px;
}
  #mainNav .navbar-brand {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2.5px 1px 2px rgba(255,50,50,1);
  }
  #mainNav a {
    color: white;
  }
  #mainNav .nav-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    margin: 5px;
    margin-left: 50px;
    padding-left: 25px;
  }
  #mainNav .nav-head img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  #mainNav .nav-body{
    display: flex;
    padding: 2px;
    margin: 5px;
  }
  #mainNav .nav-body-container{
      display: flex;
      flex-direction: row;
      text-align: center;
      padding: 5px;
  }
  #mainNav .nav-item{
    color: rgba(255,255,255,1);
    font-weight: 300;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #mainNav .nav-item:hover {
    color: rgba(210,210,210,1);
    text-decoration: none;
    }
  #mainNav .nav-item:active {
      color: rgba(210,210,210,1);
      text-decoration: none;
  }
  @media (min-width: 750px) {
    #mainNav {
      padding-top: 20px;
      padding-bottom: 20px;
      -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
      letter-spacing: 1px;
      border-bottom: none;
      background: transparent;
    }
      #mainNav.navbar-change {
        position: fixed;
        top: 0;
        width: 100%;
        margin: 0px;
        padding-top: 18px;
        padding-bottom: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        background: black;
        z-index: 100;
      }
      #logo .logo_onMove {
        width: 40px;
        height: 40px;
      }
    }

#mainNav .btn-login{
  margin-left: 20px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
  font-weight: bold;
  color: white;
  border: 0px;
  padding: 2px 15px 4px 15px;
}
#mainNav .btn-login:hover{
  background-color: rgba(255, 0, 0, 0.73);
  transform: scale(1.03);
}
#mainNav a.nav-item:active{
border-bottom: 1px solid rgba(254,194,34,1);

}
  #minNav a.nav-item:visited{
  border-bottom: 1px solid rgba(254,194,34,1);
}
