#booking{
  width:100%;
  height:90%;
  background-color: rgba(75,75,75,1);
}

.booking-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.top-bar{
  width: 100%;
  height: 10%;
  background-color: rgba(200,200,200,1);
}

#searchBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-size: 17px;
  padding: 10px;
  align-items: center;
}
.flight-icon{
  color: white;
  width: 20px;
  height: 20px;
}
.icon{
  color: white;
  width: 25px;
  height: 25px;
}
#searchBar i{
  color: white;
  text-decoration: none;
}
#searchBar i:hover {
  transform: scale(1.1);
  text-decoration: none;
}
#searchBar img:hover {
  transform: scale(1.1);
  text-decoration: none;
}

input[type=text], select {
    width: 180px;
    margin: 15px;
    color: white;
    padding-left: 5px;
    display: inline-block;
    cursor: pointer;
    border: 0px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: transparent;
}
#searchBar a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#searchBar a:hover {
  background-color: #ddd;
  color: black;
}

#searchBar a.active {
  background-color: #4CAF50;
  color: white;
}

#searchBar.content {
  padding: 16px;
}

#searchBar.sticky {
  position: absolute;
  bottom: auto;
display: flex;
flex-direction: row;
overflow: hidden;
background-color: #333;
font-size: 17px;
padding: 10px;
align-items: center;
}

.sticky + .content {
  padding-bottom: : 60px;
}
.location{
  color: white;
  margin: 10px 10px 10px 100px;
}
.date{
  color: white;
  margin: 10px 10px 10px 120px;
}
.fa-search{
  margin: 10px;
}
