:root{
    --hotelred: rgba(219,80, 74, 1);
}
#hotels{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 100px;
  height: 100vh;
}
#hotels .hotelcontainer{
  height: 60px;
  float: none;
  margin:auto;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;

}
#hotels .hotel{
  height: 60px;
  background-color: var(--hotelred);
  text-align: center;
  border-radius: 25px;
  float: none;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
}
#hotels .moreinfo{
  width: 100%;
  height: auto;
  border: 4px solid var(--hotelred);
  color: var(--hotelred);
  text-align: center;
  border-radius: 0 0 25px 25px;
  border-top: 0;
  float: none;
  margin: auto;
}
.hotel img{
  max-width: 40px;
  max-height: 40px;
}
.simpinfo{
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 0;
}
.simpinfo img{
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  max-width: 30px;
  max-height: 30px;
}
.hotel button{
  background-color: inherit;
  height: 60px;
  border: 0;
  border-left: 3px solid white;
  border-radius: 0 25px 25px 0;
  margin: 0;
}
.hoteltextcontainer{
  align-items: center;
  line-height: 15px;
  padding: 0;
}
#airportcode{
  flex-grow:0;
  font-size: 1.3em;
  font-family: 'Roboto:900', sans-serif;
}
#timestyle{
  flex-grow:0;
  font-size: 0.8em;
  font-family: 'Roboto:300', sans-serif;
  margin-left: 8px;
}
.dividerline{
  flex-grow: 1;
  height: 3px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}
#divlinminfo{
  background-color: var(--hotelred);
  margin: 0;
}
.pointdown{
    transform:             rotate( 180deg );
        -moz-transform:    rotate( 180deg );
        -ms-transform:     rotate( 180deg );
        -o-transform:      rotate( 180deg );
        -webkit-transform: rotate( 180deg );
    transition:             transform 400ms ease-out;
        -moz-transition:    -moz-transform 400ms ease-out;
        -ms-transition:     -ms-transform 400ms ease-out;
        -o-transition:      -o-transform 400ms ease-out;
        -webkit-transition: -webkit-transform 400ms ease-out;
}

.pointup{
    transition:             transform 400ms ease-out;
        -moz-transition:    -moz-transform 400ms ease-out;
        -ms-transition:     -ms-transform 400ms ease-out;
        -o-transition:      -o-transform 400ms ease-out;
        -webkit-transition: -webkit-transform 400ms ease-out;
}
.minforow{
  padding-top: 20px;
}
#minfo1, #minfo2, #minfo3{
  visibility: collapse;
}
.minforow img{
  max-width: 100px;
  max-height: 100px;
}
.starratings{
  line-height: 60px;
  padding: 0;
}
.starratings .checked{
  color: orange;
}
.price{
  line-height: 60px;
  padding: 0;
}
